body {
    background-color: black;
    --text-color: #ebc97a;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the body expands to the bottom */
    text-align: center;
    padding: 0 20px; /* Increased bleed on the left and right */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: 100%; /* Limit container width to prevent overflow */
}

img {
    display: block;
    max-width: 100%; /* Adjust image to fit container width */
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: clamp(2em, 5vw, 4em); /* Automated font size with small bleed */
}

p, h1 {
    color: var(--text-color);
    max-width: 100%; /* Adjust text width to fit container width */
    font-size: clamp(1em, calc(0.8em + 1.5vw), 2em); /* Automated font size with small bleed */
    text-align: justify;
    margin: 0 auto; /* Center the text horizontally */
}

h1 {
    margin-bottom: 20px;
    animation: float 15s ease-in-out infinite alternate;
    white-space: nowrap; /* Prevent title from wrapping to multiple lines */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for overflowed text */
    font-size: calc(1em + 2vw); /* Title font size based on viewport width */
}

a {
    text-decoration: underline;
    color: var(--text-color);
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    h1,
    h2 {
        font-size: clamp(1.5em, 5vw, 3em);
    }

    p {
        font-size: clamp(0.8em, calc(0.6em + 3vw), 1.5em); /* Adjusted font size for mobile devices */
    }

    .container {
        max-height: none;
    }
}
