body {
    background-color: black;
    --text-color: #ebc97a;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px; /* Increased bleed on the left and right */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: 100%; /* Limit container width to prevent overflow */
}

img {
    display: block;
    max-width: 90%; /* Adjust image to fit container width */
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h2,p,h1 {
    color: var(--text-color);
    max-width: 90%; /* Adjust text width to fit container width */
    font-size: clamp(1em, calc(0.8em + 1.5vw), 2em); /* Automated font size with small bleed */
    text-align: justify;
    margin: 0 auto; /* Center the text horizontally */
}

h1{
    margin-bottom: 20px;
}

a {
    text-decoration: underline;
    color: var(--text-color);
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    h1,
    h2 {
        font-size: clamp(2.5em, 20vw, 3.8em);
    }

    p {
        font-size: clamp(0.8em, calc(0.6em + 3vw), 1.5em); /* Adjusted font size for mobile devices */
    }

    .container {
        max-height: none;
    }
}
